html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.market input {
    outline: none;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    cursor: default;
    color: inherit;
}

.market {
    color: #333;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
}

.market div,
.market ul,
.market button,
.market a,
.market input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sp {
    background-image: url("../images/sprite.png");
    display: inline-block;
    vertical-align: middle;
}

.link {
    cursor: pointer;
    color: inherit;
}

.blue-link {
    color: #09c;
}

.underline-link {
    border-bottom: 1px solid;
}

.underline-link, .dotted-link {
    display: inline-block;
}

.underline-link:hover {
    border-bottom: 1px solid transparent;
}

.dotted-link {
    border-bottom: 1px dotted;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.navy-selected {
    color: #999;
}

.navy-tab {
    vertical-align: middle;
}

.navy-home {
    background-position: -21px -100px;
    width: 11px;
    height: 10px;
    margin-top: -2px;
}

.navy-arrow {
    background-position: 0 -100px;
    display: inline-block;
    width: 18px;
    height: 7px;
}

.header-bg {
    background-color: #333;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

.header {
    height: 64px;
}

.title-big {
    font-size: 24px;
}

.market__wrapper, .header {
    width: 960px;
}

.market__navy {
    margin-bottom: 20px;
}

.market__content {
    width: 960px;
    padding: 4px 10px;
    margin: 0 auto;
}

.market__left {
    float: left;
    width: 80%;
    width: calc(100% - 220px);
    padding-right: 20px;
}

.market__right {
    float: left;
    width: 20%;
    width: calc(220px);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #efefef;
    padding: 5px 8px 20px;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.sort-opts {
    margin-top: 15px;
    margin-bottom: 33px;
}

.sort-opts span:first-child {
    vertical-align: middle;
}

.sort-opt {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 3px 4px 4px 8px;
    display: inline-block;
}

.dib {
    display: inline-block;
}

.sort-opt.asc, .sort-opt.desc {
    background-color: #fff3cb;
}

.sort-opt .sp, .asc .sp, .desc .sp {
    width: 8px;
    height: 5px;
    margin-left: 4px;
}

.asc .sp {
    background-position: -5px -110px;
}

.desc .sp {
    background-position: -13px -110px;
}

.dash-display {
    background-position: -40px -130px;
    width: 20px;
    height: 20px;
}

.dash-display:hover {
    background-position: -20px -130px;
}

.selected.dash-display {
    background-position: 0 -130px;
}

.list-display {
    background-position: -40px -150px;
    width: 20px;
    height: 20px;
}

.list-display:hover {
    background-position: -20px -150px;
}

.selected.list-display {
    background-position: 0 -150px;
}

.display-opt {
    float: right;
}

.display-opt span, .display-opt a {
    display: inline-block;
    vertical-align: middle;
}

.list-none {
    list-style: none;
}

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

.catalog-item {
    width: 340px; /*50%*/
    /*overflow: hidden;*/
    margin-bottom: 25px;
}

.list-catalog .catalog-item {
    width: 100%;
}

.catalog-item:nth-child(2n) {
    margin-left: 20px;
}

.list-catalog .catalog-item {
    margin-left: 0 !important;
}

.catalog-item__left {
    width: 140px; /*47%*/
    height: 205px; /*height: 100%;*/
    margin-right: 20px;
    position: relative;
    text-align: center;
}

.catalog-item__right {
    width: 180px; /*53%*/
    height: 205px; /*height: 100%;*/
    position: relative;
}

.list-catalog .catalog-item__right {
    width: 520px;
    height: auto;
}

.catalog-item__v {
    width: 45%;
}

.catalog-item__d {
    width: 55%;
}

.catalog-item__name {
    font-size: 16px;
    line-height: 20px;
    display: inline;
}

.catalog__photo {
    width: 140px;
    height: 140px;
}

.starbar {
    margin-bottom: 9px;
    width: 75px;
    height: 14px;
    background-image: url("../images/sprite.png");
    background-position: 0 -195px;
    display: inline-block;
}

.starbar_w {
    width: 60px;
    height: 14px;
    background-position: 0 -180px;
    background-image: url("../images/sprite.png");
}

.product__item__art {
    font-size: 13px;
    color: #999;
    height: 16px;
    margin-bottom: 3px;
}

.presence {
    line-height: 20px;
    padding: 1px 8px 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 12px;
}

.presence__yes {
    background-color: #99cc00;
}

.presence__order {
    background-color: #66CCFF;
}

.presence__no {
    background-color: #ff6666;
}

.new-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
}

.button-buy {
    padding: 0 10px;
    width: 92px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #efb700;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    color: #000;
    font-family: "PT Sans", sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    text-align: center;
    background-color: #ffc301;
    margin-bottom: 10px;
}

.button-buy:hover {
    background-color: #ffd10a;
}

.button-buy:active {
    background-color: #ffd10a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.catalog-item__addinfo {
    height: 48px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #fff3cc;
    padding: 3px 7px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.addinfo-text {
    color: #999;
    line-height: 19px;
}

.catalog-item__addinfo:hover {
    border: solid 1px #efb700;
}

.catalog-item__addinfo:hover .addinfo-text {
    color: #333;
}

.addinfo-text span {
    vertical-align: middle;
}

.qst {
    background-position: -130px -130px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    vertical-align: middle;
}

.qst:hover {
    background-position: -130px -146px;
}

.title-middle {
    font-size: 16px;
    margin-bottom: 20px;
}

.search-param {
    margin-bottom: 10px;
}

/*.search-param {
    font-size: 0;*//*for inline-block space*//*
}*/
.search-param__container {
    padding: 11px 0 6px;
}

.search-param__container, .param-name {
    font-size: 13px;
}

.expanded.search-param__container {
    display: block;
}

.expanded .sp.param {
    background-position: -5px -110px;
    width: 8px;
    height: 5px;
}

.collapsed .sp.param {
    background-position: 0 -110px;
    width: 5px;
    height: 8px;
    margin-left: 3px;
}

.collapsed .search-param__container {
    display: none;
}

.param-name {
    display: inline-block;
}

.param-name * {
    vertical-align: middle;
}

.sp.param {
    margin-right: 4px;
}

.price-input {
    padding: 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: 77px;
    border: 1px solid #999999;
    text-align: left;
    height: 22px;
}

.price-input:focus {
    border: 1px solid #efb700;
}

.price-input[type="number"]::-webkit-outer-spin-button,
.price-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-line {
    height: 27px;
    margin-top: 14px;
    position: relative;
}

.price-line__empty {
    background-position: 0 -227px;
    height: 7px;
    width: 203px;
    position: absolute;
    top: 0;
    left: 0;
}

.price-line__fill {
    background-position: 0 -223px;
    height: 4px;
    width: 97px;
    position: absolute;
    top: 3px;
    left: 5px;
}

.price-from, .price-to {
    display: block;
    background-position: 0 -234px;
    height: 20px;
    width: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.price-to {
    left: 96px;
}

.price-from:hover, .price-to:hover {
    background-position: -11px -234px;
}

.vam-line * {
    vertical-align: middle;
}

.for-checkbox * {
    line-height: normal;
    vertical-align: middle;
}

input[type="checkbox"] {
    display: none;
}

.for-checkbox {
    cursor: pointer;
    margin-bottom: 6px;
    display: block;
}

.two-columns {
    width: 47%;
    display: inline-block !important;
}

input[type="checkbox"] + i {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

input[type="checkbox"] + i {
    background-position: -84px -144px;
}

input[type="checkbox"]:checked + i {
    background-position: -70px -144px;
}

input[type="checkbox"]:disabled + i {
    background-position: -112px -144px;
}

input[type="checkbox"]:checked:disabled + i {
    background-position: -98px -144px;
}

.show-all-params {
    margin-top: 5px;
}

.desc-item {
    margin-bottom: 2px;
}

.desc-item * {
    vertical-align: middle;
    line-height: 16px;
}

.desc-item__name {
    font-style: italic;
    color: #999;
}

.desc-item__cont {

}

.popup {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    z-index: 3000;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.show-models__popup {
    position: absolute;
    padding: 8px 5px 5px;
    height: 32px;
    left: -231px;
    top: 50%;
    transform: translate(0, -50%,);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-left: 1px solid #efb700;
    border-top: 1px solid #efb700;
    border-bottom: 1px solid #efb700;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.show-models__popup:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: #fff;

}

.show-models__popup:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -1px;
    right: -32px;
    border: 16px solid transparent;
    border-left-color: #efb700;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.button-gray {
    height: 28px;
    width: 92px;
    display: inline-block;
    line-height: 26px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, #cccbcb, #fff);
    background-image: -moz-linear-gradient(bottom, #cccbcb, #fff);
    background-image: -o-linear-gradient(bottom, #cccbcb, #fff);
    background-image: linear-gradient(to top, #cccbcb, #fff);
}

.button-gray:hover {
    background-image: -webkit-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -moz-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -o-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: linear-gradient(to top, #e7e7e7, #fff);
}

.button-gray:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    border: solid 1px #999;
    background-image: -webkit-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -moz-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: -o-linear-gradient(bottom, #e7e7e7, #fff);
    background-image: linear-gradient(to top, #e7e7e7, #fff);
}
